$white-color:#fff;
$light-grey-color:#f9f9f9;
$dark-grey-color:#525252;
$text-color:#878787;
$black-color:#313131;
$grey-color:#333;
$form-color:#dbdbdb;
$body-color:#f1f1f1;

$Mostardesign-SofiaProMedium:Mostardesign-SofiaProMedium;
$Mostardesign-SofiaProSemiBold:Mostardesign-SofiaProSemiBold;
$Mostardesign-SofiaProRegular:Mostardesign-SofiaProRegular;


