.pi_widget_icon {
	max-width:92px; 
	position: absolute; 
	border:none;
	display: none;
	bottom: 0px;
	left: 0px;
	margin-left: 15px;
}

.wrap-overall {
	display: none !important;
}

#pi_empty_box {
	height: 200px;
}

.mbsc-fr-w {
	background-color: #393A3E !important;
}

.mbsc-fr-btn-c {
	display: none !important;
}

.mbsc-fr-overlay {
	background: transparent !important;
}
.boxpi {
	background: none;
	margin-bottom: 0px !important;
}

.box-title {
	margin: 10px !important;
	text-align: center;
}

#pi_writing_div {
	margin-left: 20px;
	margin-bottom: 20px;
}

.widget-user-header {
	background-color:rgba(0, 0, 0, 0.7);
}

.paddingTen {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-top: 10px !important;
}

#arrow_pi_back {
	position: absolute;
    left: 0;
    top: 38%;    
    color: gray;
    font-style: normal;
    font-weight: bold;        
}

#arrow_pi {
	position: absolute;
    right: 0;
    top: 44%;    
    color: gray;
    font-style: normal;
    font-weight: bold;
    background-image: url("/images/arrow.png");
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

#pi_pixibo_chat_controller_a {
	display: none;
	z-index: 100;	
    position: fixed; 
    bottom:4%;
    width:100%;     
    overflow: hidden;    
    padding-left: 0px !important; 
    padding-right: 0px !important;
    overflow-x: hidden;
    background-image: url("/images/FullChatBubble.png");
    height: 88%;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pi_pixibo_chat_controller {
	display: none;
	z-index: 100;	
    position: fixed; 
    bottom:4%;
    width:100%;     
    overflow: hidden;    
    padding-left: 0px !important; 
    padding-right: 0px !important;
    overflow-x: hidden;
    background-image: url("/images/SmallChatBubble.png");
    height: 189px;    
    background-repeat: no-repeat;
    background-position: center;
}

.hiddenPi {
	display: none;
}

.col-xs-6-small {
	padding-left: 10px !important;
    padding-right: 10px !important;
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}

.helloMsg {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}

.fontfamily {
	font-family: "Proxima Nova","Open Sans","Gill Sans MT",Corbel,Arial,sans-serif !important;
}
 
 #pi_letsTryThis {
 	margin-top: 15px !important;
 }

#pi_pixibo_img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

#pi_footer_input {
	font-family: "Proxima Nova","Open Sans","Gill Sans MT",Corbel,Arial,sans-serif !important;
}

.direct-chat-btn {
	position:relative;
	background:#d2d6de;
	border:1px solid #d2d6de;
	color:#444;

	margin:0px !important;
	/*margin-top:10px !important;*/
	padding:5px 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 15px;
	width: 100%;
	min-height: 40px !important;

}

.marginTopMinusTen {
	margin-top: -10px !important;
}

.leftMsg {	
	float: left;
	max-width: 250px;
    margin-left: 0px;
    margin-right: 50px;
    border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 0px;
	background-color: #ECECEC;
	color: black;
	font-family: "Proxima Nova","Open Sans","Gill Sans MT",Corbel,Arial,sans-serif !important;
}
 
.rightMsg {	
	float: right;
	max-width: 250px;
	margin-left: 50px;
    margin-right: 0px;
    border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 15px;
	background-color: #393A3E;
	color: white;
	font-family: "Proxima Nova","Open Sans","Gill Sans MT",Corbel,Arial,sans-serif !important;	
	min-height: 35px;
}

.right .direct-chat-text {
	margin-right: 0px;
}

/*.right {
	background:#393A3E;
	border-color:#3c8dbc;
	color:#fff;
}*/

.padding10 {
	padding: 10px !important;
}

.height8Percent {
	height: 8% !important;
}

.height60Percent {
	height: 60% !important;
}

.height30Percent {
	height: 40% !important;
}

.height70Percent {
	height: 70% !important;
}

.height30Percent {
	height: 30% !important;
}

.height50Percent {
	height: 50% !important;
}

.height80Percent {
	height: 80% !important;
}

.height82Percent {
	height: 82% !important;
}

.height25Percent {
	height: 25% !important;
}

.height12Percent {
	height: 12% !important;
}

.height10Percent {
	height: 10% !important;
}

.pi_main_container {
	display: none;
    position: fixed;
    bottom: 9%;
    z-index: 100;
    width: 100%;
    opacity: 0.95;   
    padding-left: 5px;
    padding-right: 5px; 
}

.pi_main_container .box-header {
	height: 8%;
}

.pi_main_container .box-body {
	height: 82%;
}

.pi_main_container .box-footer {
	height: 10%;
	border-top: 0px;
}

.pi_main_container_footer {        
    background-color: transparent;
    padding: 0px !important;
}

.pi_main_container_primary {
    height: 100%;
}

#pi_main_direct_chat_messages {
	height: 100%;
}

.pi_popup_footer {
	background-color: transparent;
	border: 0px;	
	border-radius: 15px;
}

.pi_primary_div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid lightgray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-color: lightgray !important;
}

/****************************************************************************************/
/*										BUBBLE CSS										*/
/****************************************************************************************/


/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: white;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: white transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: white white transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent white;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 48px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: white transparent transparent white;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: white white transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: white white transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: white transparent transparent white;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: white transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}