
@font-face{
    font-family: $Mostardesign-SofiaProMedium;
    src: url(../fonts/Mostardesign-SofiaProMedium.otf) format("opentype");
}
@font-face{
    font-family: $Mostardesign-SofiaProSemiBold;
    src: url(../fonts/Mostardesign-SofiaProSemiBold.otf) format("opentype");
}
@font-face{
    font-family: $Mostardesign-SofiaProRegular;
    src: url(../fonts/Mostardesign-SofiaProRegular.otf) format("opentype");
}
